.grid-container{

display:grid;

grid-template-columns:2fr 1fr;

grid-template-areas:
"header header"
"main sidebar"
"footer footer";

gap:20px;
}

header{
grid-area:header;
background:skyblue;
padding:30px;
}

main{
grid-area:main;
background:lightgreen;
padding:30px;
}

aside{
grid-area:sidebar;
background:orange;
padding:30px;
}

footer{
grid-area:footer;
background:gray;
padding:30px;
}