body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    color: white;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(253, 14, 14, 0.5);
}

p {
    font-size: 20px;
    color: aquamarine;
}

button {
    background: #ff5733;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
}